/* Kada više elemenata imaju isto svojstvo */

h3, h4 {
    color: orange;
}

.desno_poravnanje {
    text-align: right;
}

.crveni_tekst {
    color: red;
}

.drugi, #treci {
    background-color: yellow;
}

#treci {
    font-style: italic;
    /* border: solid 3px red; */

}

/* Prioritet selektora element < klasa < id < inline < !important */
#prva_stavka {
    color: orange;
}

.stavka {
    color: blue
}

li {
    color: limegreen;
}

#cetvrta_stavka {
    color: purple !important;
}

p {
    color: gray;
}

/* Kombinator razmak - svi potomci u div tagu, koji su p tag */
div p {
    color: aquamarine;
}

div > p {
    border: 1px solid green;
}

/* Stilizacija linka */
a {
    color: lime;
    text-decoration: none;
}

p>a:link {
    color: blue;
}

p>a:visited {
    color: red;
}

/* pseudo selektori - svaki prvi potomak koji je tipa paragraph */

p:first-child {
    font-weight: bold;
}

/* svaki treći li */
li:nth-child(3n) {
    font-weight: bold;
}

/* baš treći li */
li:nth-child(3) {
    text-decoration: line-through;
}